.main__inner {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-direction: column;
	height: 100vh;
	color: var(--white);

	> div {
		font-size: 8vw;
		line-height: 1;
		text-transform: uppercase;
		padding: 0.9vw;
	}
}
