.cont__youtube {
    ul {
        column-count: 4;
        column-gap: 20px;
        width: 100%;
    }

    li {
        margin-bottom: 20px;

        img {
            width: 100%;
            height: 100%;
            border-radius: 10px;
        }
    }
}

.youtube__slider {
    color: var(--white);
    h2 {
        font-size: 50px;
        margin-bottom: 20px;
    }
    .youtube__inner {
        padding-bottom: 10px;
        margin-bottom: 50px;

        h2 {
            font-size: 30px;
        }
        a {
            color: var(--white);
        }
    }

    .swiper {
        width: 60%;
        padding-top: 50px;
        padding-bottom: 50px;
        margin-bottom: 10px;
        .swiper-slide {
            // background-position: center;
            // background-size: cover;
            border-radius: 10px;

            .card {
                img {
                    display: block;
                    border-radius: 10px;
                    object-fit: cover;
                }
            }
        }
    }
}

.youtube__search {
    margin-bottom: 100px;
    font-family: var(--font-kor2);
    .container {
        position: relative;
    }

    h2 {
        color: var(--white);
        font-size: 40px;
        text-indent: -9999px;
        height: 0;
    }
    input {
        bottom: 0;
        background: var(--bg-dark);
        border: 1px solid var(--white);
        border-radius: 50px;
        color: var(--white);
        width: 100%;
        padding: 14px 30px;
        font-family: var(--font-kor2);
    }
    button {
        position: absolute;
        right: 6px;
        top: 6px;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 0;
        font-family: var(--font-kor2);
        cursor: pointer;
        z-index: 100;
    }
}

.youtube__btns {
    margin-bottom: 20px;
    .btn {
        border: 0;
        margin-right: 20px;
        font-family: var(--font-kor2);
        font-size: 16px;
        padding: 10px;
        border-radius: 10px;
        cursor: pointer;
    }
}
